/*css-reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*generics*/
body{
    font-family: sans-serif;
}

img{
    width: 200px;
}

#gridTeam{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#gridTeam li{
    flex-basis: calc((100% / 3) - (40px / 2));
}

/*layout*/
.container{
    max-width: 1200px;
    margin: 125px auto;
}


/* grid team */
