/*css-reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*generics*/
body{
    font-family: sans-serif;
}

img{
    width: 150px;
}

#gridTeam{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#gridTeam li{
    max-width: 300px;
    display: flex;  
}

/*layout*/
.container{
    width: 1200px;
    margin: 125px auto;
}


/* grid team */

#gridTeam li .side-card{
    padding: 15px 0 0 15px;
    background-color: cadetblue;
    
}

p{
    color: aliceblue;
} 